html,
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
}

.side-bar {
  width: 2rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 0;
  padding-right: 0;
  transition: 0.4s;
  overflow: hidden;
  background-color: #eee;
}
.side-bar:hover {
  width: 10rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.side-bar * {
  white-space: nowrap;
}
.side-bar .hide-on-mouseout {
  opacity: 0;
  transition: 0.4s;
}
.side-bar:hover .hide-on-mouseout {
  opacity: 1;
}
.side-bar .nav-link {
  padding: 0.5rem;
  color: #505050;
  font-weight: bold;
}
.side-bar:hover .nav-link {
  border-radius: 0.5rem;
}
.side-bar .nav-link.active {
  background-color: #505050;
  color: #eee;
}

.grid-row {
  transition: 0.25s;
}
.grid-row:hover {
  background-color: #eee;
}

.page-footer {
  background-color: #505050;
  color: #eee;
}

.page-footer a {
  color: #ddd;
  transition: 0.25s;
}
.page-footer a:hover {
  color: #fff;
}

.test-candidate-results .row > div {
  padding-bottom: 0.125rem;
  padding-top: 0.125rem;
}

.test-candidate-results > .row:hover {
  background-color: #eee;
}
